In [8]:
from sklearn.linear_model import Lasso, LinearRegression, Ridge  #####LassoCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Lending_Club_Data_Subsample.csv')
df.head()

# bad: 부도여부
# purpose_i : 대출목적(원래는 10개 내외 정도의 목적이 있으나, 여기서는 일부만)
# term_i: 대출실행기간
# verification status: Lending club에 의해 소득이 검증되었는지, 또는 소득 출처가 검증되었는지
# initial status: 대출의 최초 상태
# dti: Debt to Income

,bad,purpose_1,purpose_2,purpose_3,purpose_4,purpose_5,term_1,term_2,verification_status_1,verification_status_2,...,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,total_acc,pub_rec_bankruptcies,emp_length,pop,urate
0,0,1,0,0,0,0,1,0,1,0,...,11.910000,0,3,14,0,38,0,10,1437265,8.600000
1,0,0,1,0,0,0,1,0,0,0,...,11.140000,0,1,9,0,13,0,3,36294256,12.400000
2,0,1,0,0,0,0,1,0,0,1,...,12.990000,1,4,8,0,35,0,1,38014872,8.000000
3,0,1,0,0,0,0,1,0,0,0,...,30.620001,0,0,14,0,37,0,1,4747511,8.332258
4,0,1,0,0,0,0,1,0,1,0,...,6.830000,0,0,6,0,7,0,0,102868224,8.000000

In [11]:
df.columns

Index(['bad', 'purpose_1', 'purpose_2', 'purpose_3', 'purpose_4', 'purpose_5',
       'term_1', 'term_2', 'verification_status_1', 'verification_status_2',
       'verification_status_3', 'initial_list_status_1',
       'initial_list_status_2', 'loan_amnt', 'installment', 'annual_inc',
       'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'total_acc', 'pub_rec_bankruptcies', 'emp_length', 'pop', 'urate'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   bad                    1000 non-null   int64
 1   purpose_1              1000 non-null   int64
 2   purpose_2              1000 non-null   int64
 3   purpose_3              1000 non-null   int64
 4   purpose_4              1000 non-null   int64
 5   purpose_5              1000 non-null   int64
 6   term_1                 1000 non-null   int64
 7   term_2                 1000 non-null   int64
 8   verification_status_1  1000 non-null   int64
 9   verification_status_2  1000 non-null   int64
 10  verification_status_3  1000 non-null   int64
 11  initial_list_status_1  1000 non-null   int64
 12  initial_list_status_2  1000 non-null   int64
 13  loan_amnt              1000 non-null   int64
 14  installment            1000 non-null   float64
 15  annual_inc             1000 non-null   float64
 16  dti                    1000 non-null   float64
 17  delinq_2yrs            1000 non-null   int64
 18  inq_last_6mths         1000 non-null   int64
 19  open_acc               1000 non-null   int64
 20  pub_rec                1000 non-null   int64
 21  total_acc              1000 non-null   int64
 22  pub_rec_bankruptcies   1000 non-null   int64
 23  emp_length             1000 non-null   int64
 24  pop                    1000 non-null   int64
 25  urate                  1000 non-null   float64
dtypes: float64(4), int64(22)
memory usage: 203.2 KB

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()  #####Lasso에서 표준화 작업이 필요하다.
col_standardize =['loan_amnt', 'installment', 'annual_inc','dti','open_acc','pub_rec','total_acc']
###더미 변수는 표준화 하지 않음

df[col_standardize]= scaler.fit_transform(df[col_standardize])
df.head()

,bad,purpose_1,purpose_2,purpose_3,purpose_4,purpose_5,term_1,term_2,verification_status_1,verification_status_2,...,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,total_acc,pub_rec_bankruptcies,emp_length,pop,urate
0,0,1,0,0,0,0,1,0,1,0,...,-0.435968,0,3,0.878872,-0.25324,1.424470,0,10,1437265,8.600000
1,0,0,1,0,0,0,1,0,0,0,...,-0.537757,0,1,-0.246444,-0.25324,-0.838605,0,3,36294256,12.400000
2,0,1,0,0,0,0,1,0,0,1,...,-0.293198,1,4,-0.471508,-0.25324,1.152901,0,1,38014872,8.000000
3,0,1,0,0,0,0,1,0,0,0,...,2.037388,0,0,0.878872,-0.25324,1.333947,0,1,4747511,8.332258
4,0,1,0,0,0,0,1,0,1,0,...,-1.107515,0,0,-0.921634,-0.25324,-1.381743,0,0,102868224,8.000000

In [17]:
np.var(df.installment)

1.0000000000000016

In [18]:
X = df.drop(['bad'], axis=1)
y = df['bad']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=131)

In [19]:
X = X = df.drop(['bad'], axis=1)
y = df['bad']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=131)

In [24]:
# Linear Regression model
linear = LinearRegression()
linear.fit(X_train, y_train)

print(linear.coef_)
print(linear.intercept_)

[-1.80194594e-01 -1.10638125e-01 -1.89448768e-01  6.41683690e-01
 -1.61402205e-01 -2.82712486e-02  2.82712486e-02 -1.92308977e-02
 -1.32320692e-02  3.24629670e-02  1.49446133e-02 -1.49446133e-02
  2.07545013e-02 -1.13710959e-02 -1.73173086e-02  2.64346347e-02
 -3.04317081e-03  2.65423824e-02 -1.12056319e-03 -3.62360503e-02
 -3.34802482e-03  2.22156842e-01 -3.20713721e-03  9.08191393e-11
 -6.91498926e-05]
0.2903510139395054

In [25]:
y_pred_linear = linear.predict(X_test)
mse = mean_squared_error(y_test, y_pred_linear)
print("Mean Squared Error of linear regression model is", mse)

Mean Squared Error of linear regression model is 0.1306162520492772

In [30]:
# Least Absolute Shrinkage and Selection Operator
lasso = Lasso(alpha= 0.001)
###STATA도 grid search  <- recommend!!!!!!  
lasso.fit( X_train, y_train)
###estimation 하는데 시간이 많이 걸림

print(lasso.coef_)
print(lasso.intercept_)

[-1.48360796e-02  2.89428657e-02 -1.98601611e-02  0.00000000e+00
  0.00000000e+00 -4.24621756e-02  8.80910905e-17 -3.94289651e-03
 -0.00000000e+00  4.11631306e-02  2.12358641e-02 -8.64184589e-17
  5.93323344e-03  0.00000000e+00 -1.41847635e-02  2.52216929e-02
 -3.44195590e-03  2.82083909e-02 -6.97439474e-04 -1.46415956e-02
 -0.00000000e+00  1.18873605e-01 -3.05867084e-03  8.79507335e-11
  5.36435634e-04]
0.1202977012914331

In [31]:
y_pred_lasso = lasso.predict(X_test)
mse = mean_squared_error(y_test, y_pred_lasso)
print("Mean Squared Error of lasso is", mse)

#### lambda 분포와 그 때의 
##  logistics 에서 l1을 0을 적으면 바로 lasso가 된다

Mean Squared Error of lasso is 0.1292702833243109

In [32]:
ridge = Ridge(alpha= 0.5)

ridge.fit(X_train, y_train)

print(ridge.coef_)
print(ridge.intercept_)

[-1.33428239e-01 -6.32348750e-02 -1.42625522e-01  4.54042764e-01
 -1.14754128e-01 -2.80649584e-02  2.80649584e-02 -1.88596919e-02
 -1.31557817e-02  3.20154735e-02  1.50240035e-02 -1.50240035e-02
  1.95618178e-02 -1.06546913e-02 -1.67738763e-02  2.64735358e-02
 -3.46044799e-03  2.73004124e-02 -1.08489567e-03 -3.38588174e-02
 -2.77587128e-03  2.10322554e-01 -3.17892861e-03  9.04444449e-11
  1.66433933e-05]
0.24265692382049728

/Users/go-eun/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_ridge.py:216: LinAlgWarning: Ill-conditioned matrix (rcond=1.95249e-20): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

In [33]:
y_pred_ridge = ridge.predict(X_test)
mse = mean_squared_error(y_test, y_pred_ridge)
print("Mean Squared Error of lasso is", mse)

Mean Squared Error of lasso is 0.13053191290454527